html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Heavy.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-HeavyItalic.otf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-BoldItalic.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Italic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-LightItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

html {
  background-color: white;
  color: #111;
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.375;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}
textarea {
	font-family: "Lato";
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  border-top: 5px solid #111;
}

img {
  max-width: 100%;
  height: auto;
}

.header{
		font-size: 0;
		text-align: justify;
		padding: 0 24px;
}

.header:after {
		display: inline-block;
		width: 100%;
		content: '';
}

.header-logo{
		text-align: left;
		display: inline-block;
		width: 150px;
		padding: 12px 0;
}

.header-menu {
		text-align: right;
	  display: inline-block;
	  vertical-align: 6px;
}

.title {
	position: relative;
	text-align: center;
	background: url(assets/images/IconStudio-BackgroundPicture.png) no-repeat center center fixed;
	-webkit-background-size:  cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	margin: 10px auto;
	padding: 50px 24px;
}

.title-text {
	text-align: center;
	 color: white;
	 font-size: 24px;
	 font-weight:600;
	 line-height: 32px;
	 letter-spacing: 0.3px;
}

.title-button {
    background-color: #e82e2d;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 18px 0 0;
		border-radius: 4px;
		letter-spacing: 0.6px;
		font-weight: 600;
		padding: 14px 20px;
}

.services {
		font-size: 0;
		text-align: justify;
		padding: 48px 24px;
}

.services:after {
		display: block;
		width: 100%;
		content: '';
}

.services h5 {
		display: block;
		font-size: 24px;
		text-align: center;
		font-weight: 600;
		color: #e82e2d;
		text-decoration: underline;
		letter-spacing: 0.3px;
		margin-bottom: 12px;
}

.services p {
		display: block;
		font-size: 15px;
		line-height: 24px;
		text-align: center;
		font-weight: 600;
		color: #343434;
		letter-spacing: 0.3px;
}

.services-icon {
		display: block;
		padding-top: 64px;
		text-align: center;
}

.services-icon-title {
		font-size: 0;
		text-align: justify;
		padding: 0 24px;
}

.services-icon-title:after {
		display: block;
		width: 100%;
		content: '';
}

.services-icon-title h2 {
		display: block;
		margin: 18px 0px 12px;
		font-size: 24px;
		text-align: center;
		font-weight: 600;
		color: #343434;
		letter-spacing: 0.3px;
}

.services-icon-title-border {
	height: 2px;
	background: red;
	border-radius: 1px;
	width: 200px;
	margin: 0 auto;
}

.services-icon-title p {
		display: block;
		font-size: 15px;
		line-height: 24px;
		text-align: center;
		font-weight: 600;
		color: #343434;
		letter-spacing: 0.3px;
		margin-top: 10px;
}

.services-icon img {
	width: 124px;
}

.about {
		font-size: 0;
		text-align: justify;
		padding: 48px 24px;
}

.about:after {
		display: block;
		width: 100%;
		content: '';
}

.about li {
	margin: 18px 0;
}

.about ul{
		color: #343434;
		display: block;
		font-size: 15px;
		line-height: 24px;
		list-style-type: square;
		font-weight: 600;
		text-align: left;
		padding: 0 24px;
}

.about p {
	display: block;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	font-weight: 600;
	color: #e82e2d;
}

.about h4 {
	display: block;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	font-weight: 600;
	color: #e82e2d;
	text-decoration: underline;
	letter-spacing: 1px;
}

.about-us {
		position: relative;
		text-align: center;
}

.about-us-button {
    background-color: #e82e2d;
    color: white;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
		border-radius: 4px;
		letter-spacing: 1px;
		font-weight: 600;
		padding: 14px 20px;
}

.contact {
		position: relative;
	  text-align: center;
		background: url(assets/images/IconStudio-BackgroundPicture.png) no-repeat center center fixed;
	  -webkit-background-size:  cover;
	  -moz-background-size:  cover;
	  -o-background-size: cover;
	  background-size: cover;
		display: block;
		padding: 50px 24px;
}

.contact-text {
	text-align: center;
	 color:white;
	 font-size: 28px;
	 font-weight:600;
	 letter-spacing: 1px;
}

.contact-information-text {
	text-align: center;
	 color: white;
	 font-size: 15px;
	 font-weight:400;
	 letter-spacing: 1px;
	line-height: 18px;
	padding: 12px 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 18px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 18px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
		height:300px;
}

input[type=Submit] {
    width: 50%;
    background-color: #e82e2d;
    color: white;
    padding: 14px 20px;
    margin: 18px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
		font-weight: 600;
		font-size: 15px;
		letter-spacing: 1px;
		text-align: center;
}

input[type=Submit]:hover {
    background-color: #e82e2d;
}

span {
	color : white;
	font-weight: 400;
	text-align: left;
	display: block;
	margin: 18px 0;
}

.location {
		font-size: 0;
		text-align: justify;
		padding: 76px 24px;
		background: #2d3232;
}

.location:after {
		display: block;
		width: 100%;
		content: '';
}

.location-header h3 {
	display: block;
	font-size: 28px;
	text-align: center;
	font-weight: 600;
	color: #ff0000;
	letter-spacing: 0.3px;
	padding-top: 24px;
}

.location-header-information p {
	display: block;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	font-weight: 400;
	color: white;
	letter-spacing: 0.3px;
	padding-bottom: 24px;
	padding-top: 4px;
	padding-left: 18px;
	padding-right: 18px;
}

.follow-us {
		font-size: 0;
		text-align: justify;
		padding: 76px 24px;
		background: #232425;
}

.follow-us:after {
		display: block;
		width: 100%;
		content: '';
}

.follow-us-header h4 {
	color : white;
	display: block;
	font-size: 28px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.3px;
}

.follow-us-text p {
	display: block;
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	color: #ff0000;
	letter-spacing: 0.3px;
	margin: 18px 8px;
}

.services-icon_full {
	display: none;
}

.header-full {
	display: none;
}

.header-menu-full{
	display: none;
}

.title-full {
	display: none;
}

.title-full-text-full {
	display: none;
}

.services-full {
		display: none;
}

.services-full_title {
		display: none;
}

.about-full {
	display: none;
}

.header-web {
	display: none;
}

.header-menu-web {
	display: none;
}

.title-web {
	display: none;
}

.title-web-text-web {
	display: none;
}

.services-web {
		display: none;
}

.services-web_title {
		display: none;
}

.about-web {
	display: none;
}

.contact-web {
	display: none;
}

.footer-web {
	display: none;
}

.footer-us-web {
	display: none;
}

@media (min-width: 704px) {

	.header {
		display: none;
	}

	.header-full {
		font-size: 0;
		text-align: justify;
		padding: 0 24px;
		display: block;
	}

	.header-full:after {
			display: block;
			width: 100%;
			content: '';
	}

	.header-logo-full{
			text-align: center;
			display: block;
			width: 150px;
			padding: 12px 0;
			margin: 0 auto;
	}

	.header-menu {
		display: none;
	}

  .header-menu-full {
		font-size: 0;
		text-align: justify;
		padding: 0 24px;
		display: block;
	}

	.header-menu-full:after {
			display: block;
			width: 100%;
			content: '';
	}

	.header-menu-full-item_full {
	  font-size: 15px;
	  display: inline-block;
	  margin: 0 15px;
	  padding: 4px 0;
		vertical-align: 3px;
	}

 	.header-menu-full-item-full {
	 	text-align: center;
		margin: 15px;
  }

	.header-menu-full-item_full a {
		  text-decoration: none;
		  color: #494949;
			font-weight: 600;
	}

	.header-menu-full-item_full-border {
		height: 20px;
		background: red;
		border-radius: 1px;
		width: 1px;
		display: inline-block;
	}

	.title {
		display: none;
	}

	.title-text {
		display:none;
	}

	.title-full {
		position: relative;
		text-align: center;
		background: url(assets/images/IconStudio-BackgroundPicture.png) no-repeat center center fixed;
		-webkit-background-size:  cover;
		-moz-background-size:  cover;
		-o-background-size: cover;
		background-size: cover;
		display: block;
		margin: 10px auto;
		padding: 100px 24px;
	}

	.title-full-text-full {
	 text-align: center;
		color: white;
		font-size: 40px;
		font-weight:600;
		line-height: 48px;
		letter-spacing: 0.3px;
	  display: inline-block;
		margin: 0px 28px;
	}

	.title-full-text-full:after {
			display: inline-block;
			width: 100%;
			content: '';
	}

	.title-button-full {
	    background-color: #e82e2d;
	    color: white;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 15px;
			border-radius: 4px;
			letter-spacing: 0.6px;
			font-weight: 600;
			padding: 14px 20px;
	}

	.services {
		display: none;
	}

	.services-icon {
		display: none;
	}

	.services-full {
			font-size: 0;
			text-align: justify;
			padding: 0px 24px;
			padding-top: 48px;
			display: block;
	}

	.services-full:after {
			display: block;
			width: 100%;
			content: '';
	}

	.services-full h5 {
			display: block;
			font-size: 24px;
			text-align: center;
			font-weight: 600;
			color: #e82e2d;
			text-decoration: underline;
			letter-spacing: 0.3px;
			margin-bottom: 12px;
	}

	.services-full_title {
			font-size: 0;
			text-align: justify;
			display: block;
	}

	.services-full_title:after {
			display: block;
			width: 100%;
			content: '';
	}

	.services-full_title > p {
			display: block;
			font-size: 15px;
			line-height: 24px;
			text-align: center;
			font-weight: 600;
			color: #343434;
			letter-spacing: 0.3px;
			margin: 0px 28px;
	}

	.services-icon_full {
		margin: 64px 100px;
		text-align: left;
		font-size: 0;
		text-align: justify;
		display: inline-block;
	}

  .services-icon_full:after {
			width: 100%;
			content: '';
			display: inline-block;
	}

	.services-icon_full img {
		width: 50px;
		margin: 0px auto;
	}

	.services-icon_full-title_full{
		display: inline-block;
		width: 20%;
		text-align: center;
	}

	.services-icon_full-title_full h2 {
		margin: 18px auto;
		font-size: 15px;
		text-align: center;
		font-weight: 600;
		color: #343434;
		letter-spacing: 0.3px;
		line-height: 24px;
		display: inline-block;
	}

	.services-icon_full-border_full {
		height: 100px;
		background: red;
		border-radius: 1px;
		width: 2px;
		display: inline-block;
	}


	.services-icon_full-text_full {
		font-size: 15px;
		text-align: left;
		display: inline-block;
		line-height: 24px;
		font-weight: 600;
		color: #343434;
		letter-spacing: 0.3px;
		width: 70%;
		vertical-align: 28px;
	}

	.services-icon_full-text_full:after {
			width: 100%;
			content: '';
	}

	.about {
		display: none;
	}

	.about-full {
			font-size: 0;
			text-align: justify;
			padding: 0px 24px;
			padding-bottom: 48px;
			display: block;
	}

	.about-full:after {
			display: block;
			width: 100%;
			content: '';
	}

	.about-full-text p {
			color: #343434;
			display: inline-block;
			font-size: 15px;
			line-height: 24px;
			font-weight: 600;
			text-align: center;
			padding: 0 100px 8px;
			letter-spacing: 0.3px;
	}

	.about-full {
		display: block;
		font-size: 15px;
		line-height: 24px;
		text-align: center;
		font-weight: 600;
		color: #e82e2d;
	}

	.about-full h4 {
		display: block;
		font-size: 24px;
		text-align: center;
		font-weight: 600;
		color: #e82e2d;
		text-decoration: underline;
		letter-spacing: 1px;
		margin-bottom: 12px;
	}

	.about-full-text_full p {
		letter-spacing: 0.3px;
		font-weight: 900;
	}

	.header-web {
		display: none;
	}

	.header-menu-web{
		display: none;
	}

	.title-web {
		display: none;
	}

	.title-web-text-web {
		display: none;
	}

	.services-web {
			display: none;
	}

	.services-web_title {
			display: none;
	}

	.about-web {
		display: none;
	}

	.contact-web {
		display: none;
	}

	.footer-web {
		display: none;
	}

	.footer-us-web {
		display: none;
	}

}

@media (min-width: 1349px) {

	.header {
		display: none;
	}

	.header-menu {
		display: none;
	}

	.header-full {
		display: none;
	}

	.header-menu-full{
		display: none;
	}

	.header-web {
			font-size: 0;
			text-align: justify;
			display: inline-block;
	}

	.header-web:after {
			display: inline-block;
			width: 100%;
			content: '';
	}

	.header-logo-web{
			text-align: left;
			display: inline-block;
			width: 150px;
			padding: 12px 0;
			margin-left: 200px;
	}

	.header-logo-web:after {
			display: inline-block;
			width: 100%;
			content: '';
	}

	.header-menu-web {
		font-size: 0;
		text-align: justify;
		display: inline-block;
		margin-left: 342px;
	}

	.header-menu-web:after {
			display: inline-block;
			width: 100%;
			content: '';
	}

	.header-menu-web-item_web {
		font-size: 15px;
		display: inline-block;
		margin: 0 15px;
		vertical-align: 3px;
	}

	.header-menu-web-item-web {
		text-align: center;
		margin: 15px;
	}

	.header-menu-web-item_web a {
			text-decoration: none;
			color: #494949;
			font-weight: 600;
	}

	.header-menu-web-item_web a:hover,
	.header-menu-web-item_web.active a {
	  color: red;
	  padding: 4px 0;
	  border-bottom: 2px solid red;
	}

	.header-menu-web-item_web-border {
		height: 17px;
		background: red;
		border-radius: 1px;
		width: 1px;
		display: inline-block;
	}

	.header-menu-web-item_web-search-icon {
		display: inline-block;
		margin: 0 15px;
		width:	19px;
	}

	.title {
		display: none;
	}

	.title-text {
		display: none;
	}

	.title-full {
		display: none;
	}

	.title-full-text-full {
		display: none;
	}

	.title-web {
		position: relative;
		text-align: center;
		background: url(assets/images/IconStudio-BackgroundPicture.png) no-repeat center center fixed;
		-webkit-background-size:  cover;
		-moz-background-size:  cover;
		-o-background-size: cover;
		background-size: cover;
		display: block;
		margin: 10px auto;
		padding: 124px 24px;
	}

	.title-web-text-web {
	 text-align: center;
		color: white;
		font-size: 40px;
		font-weight:600;
		line-height: 64px;
		letter-spacing: 0.3px;
	  display: inline-block;
		margin: 0px 324px;
	}

	.title-web-text-web:after {
			display: inline-block;
			width: 100%;
			content: '';
	}

	.title-button-web {
		background-color: #e82e2d;
		 color: white;
		 text-align: center;
		 text-decoration: none;
		 display: inline-block;
		 font-size: 15px;
		 border-radius: 4px;
		 letter-spacing: 0.6px;
		 font-weight: 600;
		 padding: 14px 20px;
	}

	.services {
		display: none;
	}

	.services-icon {
		display: none;
	}

	.services-full {
		display: none;
	}

	.services-full_title {
			display: none;
	}

	.services-web {
			font-size: 0;
			padding: 48px 24px;
			display: block;
			margin: 0 auto;
	}

	.services-web:after {
			display: inline-block;
			width: 100%;
			content: '';
	}

	.services-web h5 {
			display: block;
			font-size: 28px;
			text-align: center;
			font-weight: 600;
			color: #e82e2d;
			text-decoration: underline;
			letter-spacing: 0.3px;
			margin-bottom: 12px;
	}

	.services-web p {
			display: block;
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			font-weight: 600;
			color: #343434;
			letter-spacing: 0.3px;
	}

	.services-icon-web-wrapper {
		max-width: 1140px;
		margin: 0 auto;
	}

	.services-icon-web {
			display: inline-block;
			padding-top: 64px;
			padding-bottom: 64px;
			text-align: center;
			width: 33%;
	}

	.services-icon-title-web {
			font-size: 0;
			text-align: justify;
			padding: 0 24px;
	}

	.services-icon-title-web:after {
			display: inline-block;
			width: 100%;
			content: '';
	}

	.services-icon-title-web h2 {
			display: block;
			margin: 18px 0px 12px;
			font-size: 24px;
			text-align: center;
			font-weight: 600;
			color: #343434;
			letter-spacing: 0.3px;
	}

	.services-icon-title-border-web {
		height: 2px;
		background: red;
		border-radius: 1px;
		width: 200px;
		margin: 0 auto;
	}

	.services-icon-title-web p {
			display: block;
			font-size: 15px;
			line-height: 24px;
			text-align: center;
			font-weight: 600;
			color: #343434;
			letter-spacing: 0.3px;
			margin-top: 10px;
	}

	.services-icon-web img {
		width: 124px;
		border: 2px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		width: 150px;
	}

	.services-icon-web img :hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	}

	.about {
		display: none;
	}

	.about-full {
		display: none;
	}

	.about-web {
			font-size: 0;
			text-align: justify;
			padding: 0px 24px;
			padding-bottom: 48px;
			display: block;
	}

	.about-web:after {
			display: block;
			width: 100%;
			content: '';
	}

	.about-web-text-wrapper {
		max-width: 1140px;
		margin: 0 auto;
	}

	.about-web-text p {
			color: #343434;
			display: block;
			font-size: 18px;
			line-height: 28px;
			font-weight: 600;
			text-align: center;
			padding: 0 100px 8px;
			letter-spacing: 0.3px;
	}

	.about-web {
		display: block;
		font-size: 15px;
		line-height: 24px;
		text-align: center;
		font-weight: 600;
		color: #e82e2d;
	}

	.about-web h4 {
		display: block;
		font-size: 28px;
		text-align: center;
		font-weight: 600;
		color: #e82e2d;
		text-decoration: underline;
		letter-spacing: 1px;
		margin-bottom: 12px;
	}

	.about-web-text_web p {
		letter-spacing: 0.3px;
		font-weight: 900;
		font-size: 18px;
		line-height: 28px;
	}

	.contact {
		display: none;
	}

	.contact-web {
			position: relative;
		  text-align: center;
			background: url(assets/images/IconStudio-BackgroundPicture.png) no-repeat center center fixed;
		  -webkit-background-size:  cover;
		  -moz-background-size:  cover;
		  -o-background-size: cover;
		  background-size: cover;
			display: block;
			padding: 50px 24px;
	}

	.contact-text-web {
		text-align: center;
		 color:white;
		 font-size: 40px;
		 font-weight:600;
		 letter-spacing: 1px;
	}

	.contact-information-text-web {
		text-align: center;
		 color: white;
		 font-size: 18px;
		 font-weight:400;
		 letter-spacing: 1px;
		padding: 12px 20px;
	}

	.contact-form-web-wrapper {
		max-width: 1140px;
		margin: 0 auto;
	}

	input[type=text-web] {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 18px 0;
	    display: block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}

	textarea[type=text-web] {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 18px 0;
	    display: block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
			height:300px;
	}

	input[type=Submit-web] {
	    width: 50%;
	    background-color: #e82e2d;
	    color: white;
	    padding: 14px 20px;
	    margin: 18px 0;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
			font-weight: 600;
			font-size: 15px;
			letter-spacing: 1px;
			text-align: center;
	}

	input[type=Submit-web]:hover {
	    background-color: #e82e2d;
	}

	span {
		color : white;
		font-weight: 400;
		text-align: left;
		display: block;
		margin: 18px 0;
	}

	.location {
		display: none;
	}

	.follow-us {
		display: none;
	}

	.footer-web-wrapper_web{
		background: #2d3232;
	}

	.footer-web-wrapper {
		display: inline-block;
		width: 70%;
		vertical-align: top;
	}

	.footer-web {
			font-size: 0;
			text-align: justify;
			padding: 40px 24px;
			display: inline-block;
			width: 33%;
			vertical-align: top;
	}

	.footer-web:after {
			display: inline-block;
			width: 100%;
			content: '';
	}

	.footer-header-web h3 {
		display: inline-block;
		font-size: 28px;
		text-align: center;
		font-weight: 600;
		color: #ff0000;
		letter-spacing: 0.3px;
		padding-top: 24px;
	}

	.footer-header-information-web p {
		display: inline-block;
		font-size: 15px;
		line-height: 24px;
		text-align: left;
		font-weight: 400;
		color: white;
		letter-spacing: 0.3px;
		padding-bottom: 24px;
		padding-top: 4px;
		padding-right: 18px;
	}

	.footer-us-web-wrapper {
		display: inline-block;
		width:29%;
		background: #232425;
	}

	.footer-us-web {
		display: inline-block;
			font-size: 0;
			text-align: justify;
			padding: 65px 24px;
			background: #232425;
	}

	.footer-us-web:after {
			display: inline-block;
			width: 100%;
			content: '';
	}

	.footer-us-header-web h4 {
		color : white;
		display: inline-block;
		font-size: 24px;
		text-align: center;
		font-weight: 600;
		letter-spacing: 0.3px;
	}

	.footer-us-text-web p {
		display: inline-block;
		font-size: 18px;
		text-align: center;
		font-weight: 600;
		color: #ff0000;
		letter-spacing: 0.3px;
		margin: 12px auto;
	}

}
